.chatbox-container {
  position: relative;
  top: 100px;
  left: 2.5%;
  display: flex;
  width: 95%;
  border-radius: 15px;
  background: #ccf;
  align-self: center;
  overflow: auto;
}

#messages {
  list-style: none;
}

p {
  display: flex;
  flex-flow: column;
}

.chatbox-messgaes {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: nowrap;
  width: 100%;
}

input {
  border-radius: 5px;
  border: none;
  padding: 10px;
  display: block;
  width: 80%;
  background-color: #deeece;
  font-family: inherit;
  margin: 10px;
}

.chat-msg p {
  padding: 10px;
  border-radius: 5px;
  background-color: #fff;
  margin: 10px;
  flex-grow: 1;
}

.user img {
  max-width: 35px;
  margin-right: 10px;
  background-color: #eef;
  padding: 5px;
  border-radius: 10px;
  order: 2;
}

.bot img {
  max-width: 35px;
  background-color: #eef;
  padding: 5px;
  border-radius: 10px;
}

.bot p img {
  max-width: 500px !important;
  padding: 5px;
  border-radius: 10px;
}

li {
  margin-left: 10px;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  margin-top: 5px;
  white-space: pre-line;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: auto;
}
